@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto';
}

:root {
    --imp-color: #0000cd;
}

header {
    padding: 24px;
    background-color: var(--imp-color);
}

header h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.board {
    width:800px;
    height:800px;
}

.square {
    width: 100px;
    height: 100px;
}