{% extends "template.html" %}

{% block about %}focus{% endblock %}

{% block content %}

    <main>
        <img src="../static/assets/icbooks-logo.png" class="about-img">
        <h1>Why ICBooks?</h1>
        <p>ICBooks was set up by five Imperial Masters of Computing students to solve a problem we had all experienced. Today, the lifetime of a book from purchase to an eternity on a bookshelf is short. You buy a book, read it once, and most likely never touch it again.</p>
        <br>
        <p class="subhero-message">This is bad...</p>
        <ul class="about-list">
            <li><strong>For the reader:</strong> After buying a new book, you get no residual value once reading it, and this makes reading unnecessarily expensive.</li>
            <li><strong>For the book:</strong> It is a sad existence for the book to live out eternity having only been read once.</li>
            <li><strong>For the environment:</strong> If books are read by one person only, we need to print more, and that means cutting down more trees.</li>
        </ul>
            <br>
            <figure class="img-container">
                <img src="../static/assets/bookcase.png" class="about-img" alt="Old bookcase with dusty books">
                <figcaption class="img-caption">Don't let your bookcase look like this</figcaption>
            </figure>
            <p class="hero-message">ICBooks is here to change this</p>
            <p>By using ICBooks, you can swap a book you have read for someone else's. Everyone wins, and you don't need to worry about negotiating on money - this is a straight swap! We decided to focus on students first, who today struggle the most to balance their passion for reading with the constraints of a student budget.</p>
            <br>
            <p>We're starting right here at Imperial College, so if you see a book you like, just Email the owner and organise a swapping point on campus! And if you don't study here today, worry not - we will be expanding our reach to many universities across the UK!</p>
 
            <figure class="img-container">
                <img src="../static/assets/imperial.jpg" class="about-img" alt="Imperial College">
                <figcaption class="img-caption">If you're an Imperial College student, start using ICBooks today!</figcaption>
            </figure>
        </main>

{% endblock %}