{% extends "template.html" %}

{% block content %}

    <main>
        <div class="details-container">
            
            <div class="details-lhs">
                <form action="/add", method="post">

                    <div class="details-introduction">
                        <h1 class="book-title">{{result['title']}}</h1>
                        <h2 class="author-subtitle">{{result['authors']}}</h2>
                    </div>

                    <div class="main-details">
                        {% if result['first_sentence'] != "U" %}
                        <p class = "quote">{{result['first_sentence']}}</p>
                        {% endif %}

                        <ul class="genre">
                            {% for genre in result['subject'].split(', ') %}
                            <li>{{genre}}</li>
                            {% endfor %}
                        </ul>
                        
                        <p><strong>Published:</strong> {{result['publish_date']}}</p>
                        <p><strong>ISBN:</strong> {{result['isbn']}}</p>
                        
                        
                        <div class="form-item">
                            {% if return_route != "/" %}
                            <p class="email-instruction">To list for swapping, enter your Email and press confirm!</p>
                            <input type="email" class="input-field" name="email" placeholder="Enter Imperial Email">
                            {% else %}
                            <p class="email-instruction">Reach out to the user below to request a swap!</p>
                            <div class="contact-link">
                                <p id="copyEmail">{{result['email']}}</p>
                                <span class="copy-icon" id="copyButton" title="Copy to clipboard">&#x1F4CB;</span>
                            </div>
                            {% endif %}
                        </div>
                        <!-- adding input -->
                        <input type="hidden" name="isbn" value ="{{result['isbn']}}">
                        <input type="hidden" name="book-title" value ="{{result['title']}}">
                        <input type="hidden" name="author-subtitle" value ="{{result['authors']}}">
                        <input type="hidden" name="published_date" value ="{{result['publish_date']}}">
                    </div>

                    <div class="bottom-buttons">
                        <!-- <a href={{return_route}} class="btn secondary gray">Back</a> -->
                        {% if return_route != "/" %}
                        <input type="text" hidden value="{{result['title']}}" name="title">
                        <input type="text" hidden value="{{result['authors']}}" name="authors">
                        <input type="text" hidden value="{{result['subject']}}" name="subject">
                        <input type="text" hidden value="{{result['first_sentence']}}" name="first_sentence">
                        <input type="text" hidden value="{{result['cover_image_url']}}" name="cover_image_url">
                        <input type="text" hidden value="{{result['publish_date']}}" name="publish_date">
                        <input type="text" hidden value="{{result['isbn']}}" name="isbn">
                        <button type="submit" class="btn secondary">Confirm</button>
                        {% endif %}
                    </div>

                </form>
            </div>
            <img src={{result['cover_image_url']}} alt="Book cover" class="book-side-img">
        </div>
    </main>

{% endblock %}

