{% extends "template.html" %}

{% block content %}

    <main>
        <div class="details-container">
            
            <div class="details-lhs">
                <form action="/", method="post">

                    <div class="details-introduction">
                        <h1 class="book-title">{{result['title']}}</h1>
                        <h2 class="author-subtitle">{{result['authors']}}</h2>
                    </div>

                    <div class="main-details">
                        {% if result['first_sentence'] != "U" %}
                        <p class = "quote">{{result['first_sentence']}}</p>
                        {% endif %}

                        <ul class="genre">
                            {% for genre in result['matching_genre'] %}
                            <li>{{genre}}</li>
                            {% endfor %}
                        </ul>
                        
                        <p><strong>Published:</strong> {{result['publish_date']}}</p>
                        <p><strong>ISBN:</strong> {{result['isbn']}}</p>
                        
                        
                        <div class="form-item">
                            {% if return_route != "/" %}
                            <p class="email-instruction">To list for swapping, enter your Email and press confirm!</p>
                            <input type="email" class="input-field" name="email" placeholder="Enter Imperial Email">
                            {% else %}
                            <p class="email-instruction">Reach out to the user below to request a swap!</p>
                            <div class="contact-link">
                                <p id="copyEmail">{{result['email']}}</p>
                                <span class="copy-icon" id="copyButton" title="Copy to clipboard">&#x1F4CB;</span>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="bottom-buttons">
                        <a href={{return_route}} class="btn secondary gray">Back</a>
                        {% if return_route != "/" %}
                        <button type="submit" class="btn secondary">Confirm</button>
                        {% endif %}
                    </div>

                </form>
            </div>
            <img src={{result['cover_image_url']}} alt="Book cover" class="book-side-img">
        </div>
    </main>

{% endblock %}

