{% extends "template.html" %}

{% block home %}focus{% endblock %}

{% block content %}
    <main>
        <div class = "controls">
                <div class = "searchbar">
                    <input type="text" name="search" placeholder="Search for a book title" id="search">
                <img src ="../static/assets/search.svg" class="search-icon"></button>
                </div>
            <form action="/add" method="get">
                <button type="submit" class="btn">Add book to swap</button>
            </form>
        </div>

    <div class="library">
        {% for bk in books %}
            <a class="card" href="/details?isbn={{bk['isbn']}}">
                <img src={{bk['cover_image_url']}} alt="Book cover" class="card-img">
                <p class="title">{{bk['title']}}</p>
                <p class="author">{{bk['authors']}}</p>
            </a>
        {% endfor %}
    </div>
    </main>

{% endblock %}